<nav class="flex-row">

        <div class="nav-item px-3 my-nav-item" >
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> HEM
            </NavLink>
        </div>


    <div>

        <div class="nav-item px-3 my-nav-item">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ADMIN
            </NavLink>
        </div>

         @* <div class="nav-item px-3 my-nav-item">
            <NavLink class="nav-link" href="statistik" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> STATISTIK
            </NavLink>
        </div>  *@

    </div>
</nav>



<h1><a href="">FIKAKALKYLATOR</a></h1>
