@inherits LayoutComponentBase


<PageTitle>Fikakalkylator</PageTitle>


<div class="page">


    <header>
        <Header />
    </header>

    <main>
        <article class="content px-4">
            

            @Body
        </article>


        <input type="button" value="Helskärm" onclick="openFullscreen(this)" id="openFullscreenButton" />

    </main>


</div>









<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>